{% extends 'base.html' %}
{% load static %}
{% block title %} <title> Profile Page </title> {% endblock %}

{% block content %}
<div class="align-items-center" style="padding-top: 180px; padding-bottom: 30px;">
    <div class="avatar-flip" style="width:590px; margin:0 auto;">
        <div class="container">
            {% if user.avatar %}
            <img class="avatar" src="{{ user.avatar.url }}"/>
            {% else %}
            <div class="thumb"><img src="{% static 'images/1234.jpg' %}"></div>
            {% endif %}
            <p></p>
            <p></p>

            <div class="container">
                {% if messages %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    {% for message in messages %}
                    <div class="message {{ message.tags }}">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ message }}
                    </div>
                    {% endfor %}
                </div>
                {% endif %}

                <legend class="border-bottom mb-4">Profile Information</legend>
                <form method="POST" enctype="multipart/form-data">
                    <div class="media">
                        <div class="media-body">
                            <h2 class="account-heading">{{ user.username }}</h2>
                            <p class="text-secondary">{{user.first_name}} {{user.last_name}}</p>
                            <p class="text-secondary">{{ user.email }}</p>
                            <p> Instagram:&nbsp;&nbsp;<a href="{{user.instagram}}"><i class="fab fa-instagram"></i></a>
                            </p>
                            <p class="text-secondary"> About me: {{ user.bio }}</p>
                            {% if form.errors %}
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <div id="form_errors">
                                    {% for key, value in form.errors.items %}
                                    <strong>{{ value }}</strong>
                                    {% endfor %}
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container" style="width:590px ">
        <details>
            <summary style="display:block;">
                <legend class="border-bottom mb-4">Edit Profile Information</legend>
            </summary>
            <div class="row justify-content-center align-items-center">
                <form method="post" class="user-update-form" enctype="multipart/form-data">{% csrf_token %}
                    <div class="form-row">
                        <div class="col-md-20">
                            <div class="form-group">
                                <div class="form-row">
                                    <div class="form-group col-md-6 mb-0">
                                        {{ user_form.first_name }}
                                    </div>
                                    <div class="form-group col-md-6 mb-0">
                                        {{ user_form.last_name }}
                                    </div>
                                </div>
                                <label class="small mb-1">Email: {{ user.email }}</label>
                                {{ user_form.email }}

                                <label class="small mb-2">Instagram: {{user.instagram}}</label>
                                {{ user_form.instagram }}

                                <label class="small mb-2">About me: </label>
                                {{ user_form.bio }}

                                <label class="small mb-2">Phone: {{user.phone}}</label>
                                {{ user_form.phone }}
                            </div>
                            <div class="form-group">
                                <p></p>
                                <a href="{% url 'password_change' %}">Change Password</a>
                                <hr>
                                <label class="small mb-1">Change Avatar:</label>
                                {{ user_form.avatar }}
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-dark btn-lg" style="width: 400px">Save Changes</button>
                    </div>
                </form>
            </div>
        </details>
    </div>
    <br>
    <div class="container" style="width:590px ">
        <a class="border-bottom mb-4" href="{% url 'create_post' %}">Add a Project</a>
    </div>
    <br><br>
    <section class="home-text text-center" style="margin: 50px 0 50px;">
        <div class="container"><h2>Your works</h2></div>
    </section>
    <div class="container">
        <div class="row masonry clearfix"><!-- col -->
            {% for work in works %}
            <div class="col-md-4 col-sm-6 grid-item"><!-- portfolio item -->
                <div class="portfolio-item"><!-- hover -->
                    <div class="hover">
                        <div class="info"><!-- title -->
                            <h3><a href="{% url 'works_detail' work.slug %}">{{work.title}}</a></h3>
                            {% for tag in work.tags.all %}
                            <span><a href="{% url 'tags_detail' tag.slug  %}">#{{tag|title}}</a></span>
                            {% endfor %}
                            <a href="{% url 'work_update'  work.slug %}"></a>
                            <div class="icons"><a href="{% url 'works_detail' work.slug %}" class="more-link">
                                <i class="ion-md-arrow-forward"></i>
                            </a><i class="ion-md-heart-empty favorite"></i>
                            </div>
                        </div><!-- background overlay -->
                        <div class="overlay"><span></span><span></span><span></span><span></span></div>
                    </div><!-- image --><img src="{{work.image.url}}" alt="portfolio-item"/>
                </div>
            </div><!-- col -->
            {% endfor %}
        </div><!-- pagination -->
    </div>
</div>
{% endblock content %}
