{% load static %}
<section class="cta text-center clearfix">
    <div class="container"><span>Start a project</span>
        <h2><a href="#">workart.com</a></h2></div>
</section><!-- site footer -->
<footer class="text-center">
    <div class="container"><!-- social icons -->
        <ul class="social-icons list-inline">
            <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
        </ul><!-- copyright --><span class="copyright">© 2022 Solutions Media, Inc</span></div>
</footer>
